footer {
  flex-shrink: 0;
}

.footer {
  background-size: cover;
  width: 100%;
  background-color: #33cc90;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.footer .soc {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  color: white;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}
.soc a {
  padding: 20px;
  color: white;
}
.soc .fb {
  background-image: url(../img/facebook-brands.svg);
}

@font-face {
  font-family: "fonticons";
  src: url("../font/fonticons.eot?26420295#iefix") format("embedded-opentype"),
    url("../font/fonticons.woff?26420295") format("woff");
}

.demo-icon {
  font-family: "fonticons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-size: 40px;
  display: inline-block;
  text-decoration: inherit;
  width: 2em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-circle {
  margin-top: 10px;
  font-size: 16px;
}
